body {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 80vh;
}

#hero-section {
    margin-top: 10rem;
}

#hero-text {
    background-color: rgba(255, 255, 255, 0.793);
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

.blur-background {
    filter: blur(5px); /* You can adjust the blur intensity as needed */
    pointer-events: none; /* Allows clicks to pass through the modal to elements behind it */
}

.bg-img {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../images/bg.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999 !important;
}

footer {
    width: 100%;   
}

footer p, a {
    color: white;
}

@media screen and (max-width: 600px) {
    #hero-section {
        margin-top: 5rem;
    }
    .bg-img {
        background-size: fill;
    }
}