body {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    margin-bottom: 2rem;
}

.container {
    min-height: 80vh;
}

#hero-section {
    margin-top: 10rem;
}

footer a {
    color: black;
}

@media screen and (max-width: 600px) {
    #hero-section {
        margin-top: 5rem;
    }
}